*/db/
*/greybox_tmp/
*/incremental_db/
*/output_files/
*/*_sim/
*/nios_core/
*/.qsys_edit/
*/software/RemoteSystemsTempFiles/
*/software/.metadata/
*/software/*_bsp/
*/software/*/obj/
*/software/*/*.elf
*/software/*/*.objdump
